<section class="navbar alert-success">
  <form #theForm="ngForm" (ngSubmit)="submit(theForm)">
    <section ngModelGroup="contact" #contactGroup="ngModelGroup">
      <div *ngIf="!contactGroup.valid">
        <p class="alert alert-danger">
          Something has gone wrong in the ngModelGroup 'contact'!
        </p>
      </div>
      <section class="form-group">
        <label for="firstName">First Name</label>
        <input
          required
          minlength="3"
          maxlength="10"
          pattern="foxtrot"
          ngModel
          #banana="ngModel"
          (change)="log(banana)"
          name="firstName"
          id="firstName"
          type="text"
          class="form-control"
        />
        <section
          class="alert alert-danger"
          *ngIf="banana.touched && !banana.valid"
        >
          <div *ngIf="banana.errors.required">First name is required.</div>
          <div *ngIf="banana.errors.minlength">
            First name minimum length is
            {{ banana.errors.minlength.requiredLength }} characters.
          </div>
          <div *ngIf="banana.errors.pattern">
            First name does not match the pattern, '{{
              banana.errors.pattern.requiredPattern
            }}', required.
          </div>
        </section>
      </section>
    </section>
    <section class="form-group">
      <label for="comment">Comment</label
      ><textarea
        ngModel
        name="comment"
        id="comment"
        cols="30"
        rows="10"
        class="form-control"
      ></textarea>
    </section>
    <section class="checkbox">
      <label>
        <input ngModel type="checkbox" name="isSubscribed" /> Subscribe to
        mailing list.
      </label>
    </section>
    <section class="form-group">
      <label for="contactMethod">Contact Method</label>
      <select
        ngModel
        name="contactMethod"
        id="contactMethod"
        class="form-control"
        ><option value="">--select from drop-down--</option>
        <option *ngFor="let method of contactMethods" [value]="method.id">{{
          method.name
        }}</option>
      </select>
    </section>
    <p class="alert alert-warning">
      Using interpolation we can display the NgForm object value as a JSON.
      <br />
      Code: theForm.value | json <br /><br />
      {{ theForm.value | json }}
    </p>
    <button class="btn btn-primary btn-success" [disabled]="theForm.invalid">
      Submit
    </button>
  </form>
</section>
